.DS_Store
*.DS_Store
*/.metadata/
*/RemoteSystemsTempFiles/
*/bin/*
*/.settings/
/NetBeansProjects/Utils/target/
/NetBeansProjects/EchoServer/target/
/NetBeansProjects/EchoClient/target/
*.prefs
*.class
