<%# Rails flash messages styled for Zurb Foundation %>
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
  	<% type = "info" if name == :notice %>
  	<% type = "alert" if name == :alert %>
  	<% type = "warning" if name == :warning %>

    <div data-alert class="alert-box radius <%= type %>">
      <%= content_tag :div, msg %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>
<% end %>
